@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Manage.Internal
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var imgurl = "";
    @if (SignInManager.IsSignedIn(User))
    {
        imgurl = user.image == null ? "defaultimg.png" : user.image;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/dashboard/img/icons/favicon-32x32.png"/>

    <title>Digital Jhola</title>

    <link href="~/dashboard/css/app.css" rel="stylesheet">
    <link href="~/dashboard/css/styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper">
    @if (SignInManager.IsSignedIn(User))
    {
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand">
                
                        <span class="align-middle">Digital Jhola</span>
                  
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="AdminDashBoard" asp-controller="Dashboard">
                                <i class="align-middle" data-feather="code"></i> <span class="align-middle">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
                                <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
                            </a>
                            <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-action="UsersView" asp-controller="Users">View Users</a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-action="UsersUnApproved" asp-controller="Users">UnApprovedUsers</a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link" asp-action="Index" asp-controller="Role">All roles</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Products">
                                <i class="align-middle" data-feather="code"></i> <span class="align-middle">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Categories">
                                <i class="align-middle" data-feather="activity"></i> <span class="align-middle">Categories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Brands">
                                <i class="align-middle" data-feather="globe"></i> <span class="align-middle">Brands</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Offers">
                                <i class="align-middle" data-feather="gift"></i> <span class="align-middle">Offers</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Orders">
                                <i class="align-middle" data-feather="truck"></i> <span class="align-middle">Orders</span>
                            </a>
                        </li>
                    }
                    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Seller"))
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="SellerDashboard" asp-controller="Dashboard">
                                <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Products">
                                <i class="align-middle" data-feather="code"></i> <span class="align-middle">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Offers">
                                <i class="align-middle" data-feather="gift"></i> <span class="align-middle">Offers</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Comments">
                                <i class="align-middle" data-feather="message-circle"></i> <span class="align-middle">Comments</span>
                            </a>
                        </li>
                    }
                    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Buyer"))
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="BuyerDashboard" asp-controller="Dashboard">
                                <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
                            </a>
                        </li>
                    }
                    <li class="sidebar-item">
                        <a href="#profile" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                        </a>
                        <ul id="profile" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a class="sidebar-link" id="profile" href="/Identity/Account/Manage/Index">Main</a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" id="profile" id="profile" href="/Identity/Account/Manage/Email">Email Change</a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" id="profile" id="profile" href="/Identity/Account/Manage/ChangePassword">Password Change</a>
                            </li>
                        </ul>
                    </li>


                </ul>


            </div>
        </nav>
    }

    <div class="main">
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>


                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav navbar-align">
                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                    <i class="align-middle" data-feather="settings"></i>
                                </a>

                                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                    <img src="~/img/@user.image" class="avatar img-fluid rounded me-1" alt="ProfileImage"/> <span class="text-dark">@user.Firstname @user.Lastname</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div class="p-2">
                                        <a class="dropdown-item" href="/Identity/Account/Manage/Index"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                                    </div>

                                    <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                                        <button type="submit" class="items-center block p-2 ">Logout</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
        }
        @RenderBody()



    </div>
</div>

<script src="~/dashboard/js/app.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script src="~/Home/javascript/tether.min.js"></script>
<script src="~/Home/javascript/bootstrap.min.js"></script>
<script src="~/Home/javascript/jquery.easing.js"></script>
<script src="~/Home/javascript/parallax.js"></script>
<script src="~/Home/javascript/jquery-waypoints.js"></script>
<script src="~/Home/javascript/jquery-countTo.js"></script>
<script src="~/Home/javascript/jquery.countdown.js"></script>
<script src="~/Home/javascript/jquery.flexslider-min.js"></script>
<script src="~/Home/javascript/images-loaded.js"></script>
<script src="~/Home/javascript/jquery.isotope.min.js"></script>
<script src="~/Home/javascript/magnific.popup.min.js"></script>
<script src="~/Home/javascript/jquery.hoverdir.js"></script>
<script src="~/Home/javascript/owl.carousel.min.js"></script>
<script src="~/Home/javascript/equalize.min.js"></script>
<script src="~/Home/javascript/gmap3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&region=GB"></script>
<script src="~/Home/javascript/jquery-ui.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/dist/js/markerclusterer.js"></script>
<script src="~/dist/js/js.JS"></script>
<script src="~/dist/js/app.js"></script>

<script src="~/feather-icons/feather.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="~/Home/javascript/jquery.cookie.js"></script>
<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span title=\"Previous month\">&laquo;</span>",
				nextArrow: "<span title=\"Next month\">&raquo;</span>",
			});
		});
	
	</script>
@RenderSection("scripts", required: false)
</body>

</html>