@model CheckoutViewModel
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sum = 0m;
}

<script src="https://www.paypal.com/sdk/js?client-id=AYvL1k4HsMGwtnvxrAXyT3H8mI-hJyCw25RCBTy4eMOOY5YwuVVutsKITikRAoyD1IoQsbYGuydoNefv">

</script>
<div class="checkout-area mt-5 mb-2">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                @using (Html.BeginForm("Checkout", "Checkout", FormMethod.Post, new { id = "OrderForm" }))
                {
                    <div class="col-lg-12">
                        <h5 class="form-head">Personal Details</h5>
                    </div>
                    <div class="form_group col-12 ">
                        <label asp-for="@Model.OrderData.FirstName" class="form-label"> </label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.FirstName" />
                        <span asp-validation-for="@Model.OrderData.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form_group col-12 ">
                        <label asp-for="@Model.OrderData.LastName" class="form-label"> </label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.LastName" />
                        <span asp-validation-for="@Model.OrderData.LastName" class="text-danger"></span>
                    </div>
                    <div class="form_group col-12">
                        <label asp-for="@Model.OrderData.Telephone" class="form-label"></label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.Telephone" />
                        <span asp-validation-for="@Model.OrderData.Telephone" class="text-danger"></span>
                    </div>
                    <div class="form_group col-12">
                        <label asp-for="@Model.OrderData.UserEmail" class="form-label"></label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.UserEmail" />
                        <span asp-validation-for="@Model.OrderData.UserEmail" class="text-danger"></span>
                    </div>

                    <div class="form_group col-12">
                        <label asp-for="@Model.OrderData.Street" class="form-label"></label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.Street" />
                        <span asp-validation-for="@Model.OrderData.Street" class="text-danger"></span>
                    </div>
                    <div class="form_group col-12">
                        <label asp-for="@Model.OrderData.City" class="form-label"></label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.City" />
                        <span asp-validation-for="@Model.OrderData.City" class="text-danger"></span>
                    </div>
                    <div class="form_group col-12">
                        <label asp-for="@Model.OrderData.Province" class="form-label"></label>
                        <input class="input-form form-control" asp-for="@Model.OrderData.Province" />
                        <span asp-validation-for="@Model.OrderData.Province" class="text-danger"></span>
                    </div>

                    <div class="form_group mb-0 col-12">
                        <label class="form-label" for="order-note">Order Notes</label>
                        <textarea class="form-textarea form-control" id="order-note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    </div>

                }
            </div>

            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="form-row">
                    <div class="col-lg-12">
                        <h5 class="form-head rs-padding">Your Order</h5>
                    </div>
                    <div class="col-lg-12">
                        <div class="order_table table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartProducts)
                                    {

                                        var quantity = Model.CartProductIDs.Count(x => x == item.ProductId);
                                    <tr>
                                        <td>@item.ProductName<strong>× @quantity</strong></td>
                                        @if (item.OfferId == null)
                                        {
                                            <td>@(Convert.ToDouble(item.ProductUnitPrice*quantity)) L.E</td>
                                            sum += (item.ProductUnitPrice * quantity);
                                        }
                                        else
                                        {
                                            var sale = item.ProductUnitPrice * (item.Offer.Sale / 100m);
                                    <td>@(Math.Round(item.ProductUnitPrice - sale, 2) * quantity) L.E</td>
                                            sum += (Math.Round(item.ProductUnitPrice - sale, 2) * quantity);

                                        }
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>

                                    <tr class="order_total">
                                        <th><strong>Order Total</strong></th>
                                        <td><strong id="Total">  @Math.Round(sum,2)</strong></td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto">
                        <button type="submit" form="OrderForm" class="btn btn-success form-control">Cash On Delivery</button>
                    </div>
                    <div class="col-lg-6 mt-2 mx-auto" id="btnCheckout">
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<script>
    window.history.pushState(null, "", window.location.href);
    window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
        var ans = confirm('Are you sure to cancel your order?')
        if (ans == true)
            window.location.href = "/shoppingcart/editshoppingcart";
        console.log(';l;j;')
    };
</script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: document.querySelector('#Total').innerText,
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
                window.location.href = "/Checkout/Checkout";
            });
        }
    }).render('#btnCheckout');
    //This function displays Smart Payment Buttons on your web page.




</script>

