@model WebApplication3.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutDashboard";
}
<div class="row min-vh-100">
    <div class="d-table-cell align-middle">
        <div class="text-left mt-4">
            <h1 class="h2">Add new product</h1>
            <p class="lead">
                Please provide the following details to add a product.
            </p>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="m-sm-4">
                    <form id="CreateProduct" class="validate-form" asp-action="Create" enctype="multipart/form-data"
                        method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <label class="form-label" asp-for="ProductName">
                                @Html.DisplayNameFor(e => e.ProductName) <span
                                    class="sm:ml-auto mt-1 sm:mt-0 text-xs text-red-600">name Required, at least 2
                                    characters</span>
                            </label>
                            <input type="text" asp-for="ProductName" class="form-control form-control-lg" minlength="2"
                                required>
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="flex flex-col sm:flex-row" asp-for="ProductDescription">
                                @Html.DisplayNameFor(e => e.ProductDescription)
                                <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600">Required, at least 10
                                    characters</span>
                            </label>
                            <textarea class="form-control form-control-lg" asp-for="ProductDescription" minlength="10"
                                required>  </textarea>
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="flex flex-col sm:flex-row" asp-for="ProductUnitInStock">
                                @Html.DisplayNameFor(e => e.ProductUnitInStock)
                                <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600">Required, numbers
                                    only</span>
                            </label>
                            <input type="number" asp-for="ProductUnitInStock" class="form-control form-control-lg"
                                required>
                            <span asp-validation-for="ProductUnitInStock" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="flex flex-col sm:flex-row" asp-for="ProductUnitPrice">
                                @Html.DisplayNameFor(e => e.ProductUnitPrice)
                                <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600">Required, numbers
                                    only</span>
                            </label>
                            <input type="number" step="0.01" asp-for="ProductUnitPrice"
                                class="form-control form-control-lg" required>
                            <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label>
                                Product Image
                                <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600">Required</span>
                            </label>

                            <div class="px-4 pb-4 flex items-center cursor-pointer relative">
                                <i data-feather="image" class="w-4 h-4 mr-2"></i> <span class="text-theme-1 mr-1">Upload
                                    a file</span>
                                <input id="filePhoto" type="file" name="files" class="form-control form-control-lg "
                                    multiple="multiple" required>
                                <input type="hidden" name="ProductImgUrl" value="abc" />

                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="flex flex-col sm:flex-row" asp-for="CategoryId">
                                @Html.DisplayNameFor(e => e.Category.CategoryName)
                                <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600"></span>
                            </label>
                            <select asp-for="CategoryId" class="form-control form-control-lg"
                                asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="flex flex-col sm:flex-row" asp-for="BrandId">
                                @Html.DisplayNameFor(e => e.Brand.BrandName)
                                <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-gray-600"></span>
                            </label>
                            <select asp-for="BrandId" class="form-control form-control-lg"
                                asp-items="ViewBag.BrandId"></select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <a asp-action="Index" class="button w-24 border text-gray-700 mr-1"
                                onclick="ajaxRender(event)">Back to List</a>
                            <button type="submit" class="btn btn-lg btn-primary">Create</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>