@model IEnumerable<Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pro = ViewBag.product as Product;
    ViewData["Title"] = "Product Details";
    int counter = 0;
    int counting = 0;


}

@section Styles{
    <style>
             .product-thumb a img {
                  height: 250px;
                  width: 100%;
              }
      
              .flexslider .slides img {
                  display: inline-block;
                  height: 400px;
              }
        
        .card {
            position: relative;
            display: flex;
            padding: 20px;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #d2d2dc;
            border-radius: 11px;
            -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
            -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
            box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
        }
        
        .media img {
            width: 60px;
            height: 60px
        }
        
        .reply a {
            text-decoration: none
        }
        
        fieldset, label {
            margin: 0;
            padding: 0;
        }
        .rating {
            border: none;
            float: left;
        }
        
        .rating > input {
            display: none;
        }
        
        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }
        
        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }
        
        .rating > label {
            color: #ddd;
            float: right;
        }
        
        
        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label {
            color: #FFD700;
        }
        
        
        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }
     #slider-wrapper{
     	max-width: 540px;
       	width: auto;
     	height: auto;
     	margin: 50px auto;
     	background-color: #10232b;
     	padding: 15px;	
     }
     #image-slider{
     	width: auto;
     	height: auto;
     	position: relative;
     	overflow: hidden;
     	margin: auto;
     	display: block;
     }
     #image-slider ul{
     	width: 100%;
     	height: 359px;
     	position: relative;
     }
     #image-slider ul li{
     	display: inline-block;
     	position: absolute;
     	top: 0;
     	left: 540px;
       	width: 100%;
       	height:100%; 
     }
     #image-slider ul li img {
     	width: 100%;
       	height:auto;
     }
     #image-slider ul li.active-img{
     	left: 0;
     }
     .next-img{
     	z-index: 9999;
     }
     #thumbnail {
     	cursor: default;
     	margin-top: 3px;
     	height: auto;
     	display: table;	
     	width: 100%;
     }
     #thumbnail ul {
     	width: 100%;
     	height: 100%;
     }
     #thumbnail li{
     	list-style: none;
     	float: left;
     	cursor: pointer;
     	min-width: 1px;
     }																
     #thumbnail li img{
     	padding: 0;
     	float: left;
     	margin: 0px 1.5px;
     	max-height: 56px;
     	height: 56px;
     }
     #thumbnail li:first-child img{
     	margin-right:0px;
       	margin-left:0px;
     }	
     	
    </style>

}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">@pro.ProductName</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                      
                        <li>
                            <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@pro.ProductId">Product Details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><
    </div>
</div>

<section class="flat-row main-shop shop-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            <div id="slider-wrapper">
            
            
            		<div id="image-slider">
                        <ul>
                               @foreach (var image in ViewBag.images)
                               {
                                   
                             
                                   <li class="active-img">
                                       <img src="~/Product/images/@image.ImagePath" alt=""/>
                                   </li>
                               }
                         
                        </ul>
            
            		</div>
            
            		<div id="thumbnail">
                        <ul>
                              @foreach (var image in ViewBag.images)
                              {

                                  <li class="active"><img src="~/Product/images/@image.ImagePath" alt=""/></li>
                              }
                                                             
                        </ul>
            		</div>
            
            
            
            	</div>
 
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="product-detail">
                    <div class="inner">
                        <div class="content-detail mt-5">
                            <h2 class="product-title">@pro.ProductName</h2>
                            <div>
                                @for (int i = 0; i < ViewBag.Stars; i++)
                                {
                                    <a style="color: #FFD700">
                                        <i class="fa fa-star"></i>
                                    </a>
                                }
                                @if (ViewBag.Stars > 0)
                                {
                                    <span>&nbsp; @ViewBag.Stars rating from @ViewBag.CountStars reviews</span>
                                }

                            </div>
                            <p>Sold by: @pro.User.Firstname @pro.User.Lastname</p>
                            <p>@pro.ProductDescription</p>

                            <div class="price">
                                @if (pro.OfferId == null)
                                {
                                    var priceInt = Math.Round(pro.ProductUnitPrice, 0);
                                    <ins>
                                        <span class="amount">NPR @priceInt</span>
                                    </ins>
                                }
                                else
                                {
                                    var sale = pro.ProductUnitPrice * (pro.Offer.Sale / 100);
                                    <del>
                                        <span class="regular">NPR @Html.DisplayFor(p => pro.ProductUnitPrice)</span>
                                    </del>
                                    <ins>
                                        <span class="amount">NPR @(Math.Round(pro.ProductUnitPrice - sale, 2))</span>
                                    </ins>
                                }
                            </div>
                            @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
                            {
                            }
                            else
                            {
                                <div class="product-quantity">

                                    <div class="add-to-cart">

                                        <a class="ProductAddToCart" data-id="@pro.ProductId" data-name="@pro.ProductName">ADD TO CART</a>

                                    </div>

                                </div>
                            }
                            <div class="price">
                                <span>Category: </span>
                                <a asp-action="Shop" asp-controller="Home" asp-route-_categoryId="@pro.CategoryId">
                                    @if (pro.Category != null)
                                    {
                                        @pro.Category.CategoryName
                                    }
                                </a>
                            </div>
                            <div class="price">
                                <span>Brand: </span>
                                <a asp-action="Shop" asp-controller="Home" asp-route-_brandId="@pro.BrandId">
                                    @if (pro.Brand != null)
                                    {
                                        @pro.Brand.BrandName
                                    }
                                </a>
                            </div>
                            <button id="toggle">QR Code to share</button>
                            <div class="qrcode" id="qrcode" style="display: none">
                                @if (ViewBag.QrCodeUri != null)
                                {
                                    <img src="@ViewBag.QrCodeUri" class="img-thumbnail" width="200px" height="200px"/>
                                }

                            </div>
                        </div>
                    </div><!-- /.product-detail -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</section><!-- /.flat-row -->

<section class="flat-row comments-area">
    <div class="container mb-5 mt-5">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-10">
                        <h2 class="title">Comments</h2>
                    </div>
                    <div class="row">

                        <div class="col-md-12">

                            @foreach (var comment in ViewBag.Comments)
                            {
                                var count = 0;

                                <div class="media">
                                    <img class="mr-3 rounded-circle" alt="Display picture user" src="~/img/@comment.User.image"/>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-8 d-flex">
                                                <h5>@comment.User.Firstname @comment.User.Lastname</h5> <span>- @comment.CreatedOn.ToString("MM/dd/yyyy")</span>
                                            </div>
                                        </div> @comment.Content

                                        @foreach (var reply in comment.Replies)
                                        {
                                            count++;
                                            <div class="media mt-4">

                                                <a class="pr-3">
                                                    <img class="rounded-circle" alt="UserImage" src="~/img/@reply.User.image"/>
                                                </a>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-12 d-flex">
                                                            <h5>@reply.User.Firstname @reply.User.Lastname </h5><span>&nbsp;the seller.</span> <span>- @reply.CreatedOn.ToString("MM/dd/yyyy")</span>
                                                        </div>
                                                    </div> @reply.Content
                                                </div>
                                            </div>
                                        }
                                        @if (SignInManager.IsSignedIn(User) && SignInManager.UserManager.GetUserId(User) == @pro.UserId && count == 0)
                                        {
                                            <form id="CreateReply" class="validate-form" asp-action="Create" asp-controller="Reply" enctype="multipart/form-data" method="post">
                                                <input type="hidden" name="commentId" value="@comment.CommentId"/>
                                                <input type="hidden" name="productId" value="@pro.ProductId"/>
                                                <div class="card p-3">
                                                    <h5>Add Reply</h5> <textarea id="textarea" name="content" class="form-control"> </textarea>
                                                    <div class="mt-3 d-flex justify-content-between align-items-center">
                                                        <button type="submit" name="submit" class="add-to-cart">Add Reply</button>
                                                    </div>
                                                </div>
                                            </form>
                                        }
                                    </div>
                                </div>
                            }
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Buyer"))
                            {
                                <form id="CreateComment" class="validate-form padding-top-5" asp-action="Create" asp-controller="Comments" enctype="multipart/form-data" method="post">

                                    <input type="hidden" name="productId" value="@pro.ProductId"/>
                                    <div class="card p-3">
                                        <h5>Add Comment</h5> <textarea id="textarea" name="content" class="form-control"> </textarea>
                                        <div class="mt-3 d-flex justify-content-between align-items-center">
                                            <button type="submit" name="submit" class="add-to-cart">Add comment</button>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="card pt-3 mt-3">
                                    <h5>Please <a href="/Identity/Account/Register">Register</a> or <a href="/Identity/Account/Login">Login</a> to add a comment.</h5>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-row reviews-area">
    <div class="container mb-5 ">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-10">
                        <h2 class="title">Reviews</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @foreach (var review in ViewBag.Reviews)
                            {
                                <div class="media mt-4">

                                    <a class="pr-3">
                                        <img class="rounded-circle" alt="UserImage" src="~/img/@review.User.image"/>
                                    </a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>@review.User.Firstname @review.User.Lastname</h5> <span>- @review.CreatedOn.ToString("MM/dd/yyyy")</span>
                                            </div>
                                            <div class="col-12 d-flex">
                                                @for (int i = 0; i < review.Rating; i++)
                                                {
                                                    @if (review.Rating > 0)
                                                    {
                                                        <a style="color: #FFD700">
                                                            <i class="fa fa-star"></i>
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        </div> @review.Review
                                    </div>
                                </div>
                            }
                            @if (ViewBag.reviewgiver)
                            {
                                <form id="CreateReview" class="validate-form mt-5" asp-action="Create" asp-controller="Review" enctype="multipart/form-data" method="post">
                                    <div class="card p-3">
                                        <input type="hidden" name="productId" value="@pro.ProductId"/>
                                        <h5>Add Review</h5>
                                        <div style="rating">
                                            <fieldset class="rating" style="float: left">
                                                <input type="radio" id="star5" name="rating" value="5"/>
                                                <label class="full" for="star5"
                                                       title="Awesome - 5 stars">
                                                </label>

                                                <input type="radio" id="star4" name="rating" value="4"/>
                                                <label class="full" for="star4"
                                                       title="Pretty good - 4 stars">
                                                </label>

                                                <input type="radio" id="star3" name="rating" value="3"/>
                                                <label class="full" for="star3"
                                                       title="Satisfactory - 3 stars">
                                                </label>

                                                <input type="radio" id="star2" name="rating" value="2"/>
                                                <label class="full" for="star2"
                                                       title="Pretty bad- 2 stars">
                                                </label>

                                                <input type="radio" id="star1" name="rating" value="1" checked/>
                                                <label class="full" for="star1"
                                                       title="Very bad - 1 star">
                                                </label>

                                            </fieldset>

                                            <textarea id="textarea" name="content" class="form-control"> </textarea>
                                        </div>
                                        <div class="mt-3 d-flex justify-content-between align-items-center">
                                            <button type="submit" name="submit" class="add-to-cart">Add review</button>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="card pt-3 mt-3">
                                    <h5>Please buy the product to add a review.</h5>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="flat-row shop-related">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-20">
                    <h2 class="title">Related Products</h2>
                </div>

                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2">
                        @foreach (var item in Model)
                        {
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@item.ProductId">
                                        <img src="~/Product/images/@item.ProductImgUrl" width="200" height="200" alt="image">
                                    </a>
                                    @if (item.OfferId == null)
                                    {
                                        <span class="new"></span>
                                    }
                                    else
                                    {
                                        <span class="new sale">Sale</span>
                                    }
                                </div>
                                <br/>
                                <div class="product-info clearfix">
                                    <span class="product-title">@item.ProductName</span>
                                    <div class="price">

                                        @if (item.OfferId == null)
                                        {
                                            var priceInt2 = Math.Round(item.ProductUnitPrice, 0);
                                            <ins>
                                                <span class="amount">NRs. @priceInt2</span>
                                            </ins>
                                        }
                                        else
                                        {
                                            if (item != null)
                                            {
                                                var sale2 = item.ProductUnitPrice * (item.Offer.Sale / 100);
                                                <del>
                                                    <span class="regular">NPR @Html.DisplayFor(p => item.ProductUnitPrice)</span>
                                                </del>
                                                <ins>
                                                    <span class="amount">NPR @(Math.Round(item.ProductUnitPrice - sale2, 2))</span>
                                                </ins>
                                            }
                                        }
                                    </div>

                                </div>
                                  @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
                                                            {
                                                            }
                                  else
                                  {
                                      <div class="add-to-cart text-center">
                                          <a class="ProductAddToCart" data-id="@item.ProductId" data-name="@item.ProductName">ADD TO CART</a>
                                      </div>
                                  }
                            </li>
                        }
                    </ul><!-- /.product -->

                </div><!-- /.product-content -->
            </div>

        </div><!-- /.row -->
    </div>
</section>

<script>
    var products;
    $(".ProductAddToCart").click(function () {

        var existingCookieData = $.cookie('CartProducts');
        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {

            products = existingCookieData.split('-');
        } else {
            products = [];
        }
        var productID = $(this).attr('data-id');
        var productName = $(this).attr('data-name');
        var numOccurences = $.grep(products, function (elem) {
            return elem === productID;
        }).length; // Returns 2
        if (numOccurences < 5) {
            products.push(productID);
            $.cookie('CartProducts', products.join('-'), { path: '/', expires: 100 });
            updateCartProducts();
            swal("Success!",  productName+" added to cart", "success");
        } else {
            swal("Out of Stock!", "This product does not have more available stock.")

        }
        
    })
    $(window).on('load', function () {
           
    if ($.cookie('CommentAdd') === "true") {
            
    swal("The comment has been sent for being moderated.");
    }
            
            
    
    });
        $(window).on('load', function () {
               
        if ($.cookie('ReplyAdded') === "true") {
                
        swal("The reply has been added.");
        }
                
                
        
        });
            $(window).on('load', function () {
                       
                if ($.cookie('ReviewAdded') === "true") {
                        
                swal("The review has been added.");
                }
                        
                        
                
                });
</script>
<script>
    const targetDiv = document.getElementById("qrcode");
    const btn = document.getElementById("toggle");
    btn.onclick = function () {
      if (targetDiv.style.display !== "block") {
        targetDiv.style.display = "block";
      } else {
        targetDiv.style.display = "none";
      }
    };
  $(function(){
  		
  	$('#thumbnail li').click(function(){
  		var thisIndex = $(this).index()
  			
  		if(thisIndex < $('#thumbnail li.active').index()){
  			prevImage(thisIndex, $(this).parents("#thumbnail").prev("#image-slider"));
  		}else if(thisIndex > $('#thumbnail li.active').index()){
  			nextImage(thisIndex, $(this).parents("#thumbnail").prev("#image-slider"));
  		}
  			
  		$('#thumbnail li.active').removeClass('active');
  		$(this).addClass('active');
  
  		});
  	});
  
  var width = $('#image-slider').width();
  
  function nextImage(newIndex, parent){
  	parent.find('li').eq(newIndex).addClass('next-img').css('left', width).animate({left: 0},600);
  	parent.find('li.active-img').removeClass('active-img').css('left', '0').animate({left: -width},600);
  	parent.find('li.next-img').attr('class', 'active-img');
  }
  function prevImage(newIndex, parent){
  	parent.find('li').eq(newIndex).addClass('next-img').css('left', -width).animate({left: 0},600);
  	parent.find('li.active-img').removeClass('active-img').css('left', '0').animate({left: width},600);
  	parent.find('li.next-img').attr('class', 'active-img');
  }
  
  /* Thumbails */
  var ThumbailsWidth = ($('#image-slider').width() - 18.5)/7;
  $('#thumbnail li').find('img').css('width', ThumbailsWidth);
  

  </script>