@using WebApplication3.Enums
@model IEnumerable<WebApplication3.Models.Order>
@{
    ViewBag.Title = "title";
    Layout = "_LayoutDashboard";
}


<div class="grid grid-cols-12 gap-6 mt-5">



    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    
                    <th  style="background:#4578d4;color:#fff;"> @Html.DisplayNameFor(model => model.OrderId)</th>
                    <th  style="background:#4578d4;color:#fff;"> @Html.DisplayNameFor(model => model.OrderDate)</th>
                    <th  style="background:#4578d4;color:#fff;" > @Html.DisplayNameFor(model => model.TotalPrice)</th>
                    <th  style="background:#4578d4;color:#fff;">Status</th>
                     <th  style="background:#4578d4;color:#fff;"></th>
         
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="intro-x">
                        <td class="w-40">
                           
                               <a class="flex items-center mr-3" asp-action="BuyerOrderItemsDashboard" asp-route-id="@item.OrderId" onclick="ajaxRender(event)"> @Html.DisplayFor(modelItem => item.OrderId) </a>
                        </td>
                        
                        <td class="w-40">
                                                    <div class="flex items-center justify-center text-theme-9">  @Html.DisplayFor(modelItem => item.OrderDate) </div>
                                                </td>
                        <td class="w-40">
                                                    <div class="flex items-center justify-center text-theme-9"> NPR @Html.DisplayFor(modelItem => item.TotalPrice) </div>
                                                </td>
                        <td class="w-40">
                            <div class="flex items-center justify-center text-theme-9">    @if (item.Status == Status.Delivered)
                                                                                                                    {<span class="badge bg-success"> @Html.DisplayFor(modelItem => item.Status) </span>}
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <span class="badge bg-warning text-dark">@Html.DisplayFor(modelItem => item.Status)</span>} </div>
                        </td>
                      
                         
                       <td class="table-report__action w-56">
                                                   <div class="flex justify-center items-center">
                       
                                                       <form id="OrderStatus" class="validate-form" asp-action="DemoViewAsPdf" asp-controller="Pdf" enctype="multipart/form-data" method="post">
                                                           <input type="hidden" name="id" value="@item.OrderId"/>
                                                           <div class="form-group">
                                                               <input type="submit" value="View Bill" class="btn btn-danger"/>
                                                           </div>
                                                       </form>
                       
                       
                                                   </div>
                                               </td>
                       
                    </tr>
                }

            </tbody>
        </table>

    </div>
  

</div>